<div class="footer mt-5">
  <div class="container">
    <div class="row">
<!--      <div class="col-sm-4 col-md-4 col-lg-2">
        <LinkTo @route="vehicles" class="button">Vehicles</LinkTo>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-2">
        <LinkTo @route="about" class="button">About Us</LinkTo>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-2">
        <LinkTo @route="contact" class="button">Contact Us</LinkTo>
      </div>-->
    </div>
  </div>

  <footer id="contact-info" class="footer-fluid mt-5">
    <div class="column">
        <span class="d-block text-center p-3 bg-dark text-white">Contact direct me on:
          <a href="https://devandrei.com/" target="_blank">www.devandrei.com</a>
        </span>
    </div>
  </footer>
</div>
