<div class="contact">
  <div class="container-fluid other-pages-background">
    <div class="row">
      <div class="col-md-5 text-center">
        <h2>Budget Calculator </h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">

  </div>
</div>

