<div class="container mt-5">
  <table class="table table-striped">
    <thead class="font-weight-bold  text-center">
    <td>{{#link-to 'index' (query-params sort='description')}}Description{{/link-to}}</td>
    <td>{{#link-to 'index' (query-params sort='category')}}Category{{/link-to}}</td>
    <td>{{#link-to 'index' (query-params sort='date')}}Date{{/link-to}}
      </td>
    <td>{{#link-to 'index' (query-params sort='amount')}}Amount{{/link-to}}
      </td>
    <td>{{#link-to 'index' (query-params sort='status')}}Status{{/link-to}}
      </td>
    <td>{{#link-to 'index' (query-params sort='percentage')}}Percentage{{/link-to}}
      </td>
    </thead>
    <tbody>
    {{#each sortedLineItems as |lineItem|}}
      {{line-item-row model=lineItem totalAmount=totalAmount categories=categories}}
    {{/each}}
    </tbody>
    <tfoot>
    <td colspan="8">
      <button {{action 'addNewLineItem'}} class="btn btn-secondary">Add New Item</button>
    </td>
    </tfoot>
  </table>
</div>